
.fondo--azul{
  background-color: #038cfc;
}
.fondo--gris{
  background-color: #535758;
}
.peque{
  height: 65px;
}

.grande{
  height: 180px;
}

.container .jumbotron{
  padding: 0;
}
.letra--blanca{
  color: #fff;
}
